@charset "ISO-8859-1";

html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
body {
	font-family: arial,sans-serif; 
	font-size: 76%;
}

#photo, #name {
	display: block;
	align: center;
}

